@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --card-background: #f0f0f0;
  --logo-filter: none;
  --btn-color:#181818;
}

/* Dark theme */
[class='dark'] {
  --background-color: #181818;
  --btn-color:#ffffff;
  --text-color: #ffffff;
  --card-background: #333333;
  --logo-filter: drop-shadow(0 0 2em #646cffaa);
}
